/*
Blanka Helpers: Subatomic CSS helpers
=====================================

- Display
- Spacing: margins and paddings
- Widths and heights

*/


/* Display */

.d-b    { display: block }
.d-i    { display: inline }
.d-ib   { display: inline-block }

/* Screen reader only */ 

.sr-only { /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

body:hover .sr-only a, body:hover .sr-only input, body:hover .sr-only button { display: none !important; }


/* Margins */

.m-0 { margin: 0; }

.m-x-a { margin-left: auto; margin-right: auto; }

.mt-0 { margin-top: 0; }
.mb-0 { margin-bottom: 0; }
.mr-0 { margin-right: 0; }
.ml-0 { margin-left: 0; }

.mt-0-5 { margin-top: .5rem; }
.mb-0-5 { margin-bottom: .5rem; }
.mr-0-5 { margin-right: .5rem; }
.ml-0-5 { margin-left: .5rem; }

.mt-1 { margin-top: 1rem; }
.mb-1 { margin-bottom: 1rem; }
.mr-1 { margin-right: 1rem; }
.ml-1 { margin-left: 1rem; }

.mt-1-5 { margin-top: 1.5rem; }
.mb-1-5 { margin-bottom: 1.5rem; }
.mr-1-5 { margin-right: 1.5rem; }
.ml-1-5 { margin-left: 1.5rem; }

.mt-2 { margin-top: 2rem; }
.mb-2 { margin-bottom: 2rem; }
.mr-2 { margin-right: 2rem; }
.ml-2 { margin-left: 2rem; }

.mt-3 { margin-top: 3rem; }
.mb-3 { margin-bottom: 3rem; }
.mr-3 { margin-right: 3rem; }
.ml-3 { margin-left: 3rem; }



/* Paddings */

.p-0 { padding: 0; }

.pt-0 { padding-top: 0; }
.pb-0 { padding-bottom: 0; }
.pr-0 { padding-right: 0; }
.pl-0 { padding-left: 0; }

.pt-0-5 { padding-top: .5rem; }
.pb-0-5 { padding-bottom: .5rem; }
.pr-0-5 { padding-right: .5rem; }
.pl-0-5 { padding-left: .5rem; }

.pt-1 { padding-top: 1rem; }
.pb-1 { padding-bottom: 1rem; }
.pr-1 { padding-right: 1rem; }
.pl-1 { padding-left: 1rem; }

.pt-1-5 { padding-top: 1.5rem; }
.pb-1-5 { padding-bottom: 1.5rem; }
.pr-1-5 { padding-right: 1.5rem; }
.pl-1-5 { padding-left: 1.5rem; }

.pt-2 { padding-top: 2rem; }
.pb-2 { padding-bottom: 2rem; }
.pr-2 { padding-right: 2rem; }
.pl-2 { padding-left: 2rem; }

.pt-3 { padding-top: 3rem; }
.pb-3 { padding-bottom: 3rem; }
.pr-3 { padding-right: 3rem; }
.pl-3 { padding-left: 3rem; }


/* Borders */

.b-0 { border: 0; }


/* Print */

.hidden-print {
  @media print {
    display: none;
  }
}

.print-only {
  display: none;  
  @media print {
    display: block;
  }
}

/* Maximum widths */

.maxw-40em {
  max-width: 40em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2em;
  padding-left: 2em;
}


.maxw-30em {
  max-width: 30em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2em;
  padding-left: 2em;
}

.maxw-20em {
  max-width: 20em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2em;
  padding-left: 2em;
}